---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "syntax";
// @import "coderay";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

.header-title-wrap h1, h2 {
    font-family: 'Courier Prime', monospace;
}

.entry-content>p {
    font-family: 'Courier Prime', monospace;
    color: #45818e;
}

.feature .header-title h2 {
    text-transform: none;
    font-weight: 400;
}

.entry-title {
    font-family: 'Courier Prime', monospace;
    border-bottom: 15px;
}

.dl-menu .dl-menuopen .dl-subview .dl-subviewopen::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
